:root {
	--Hero-star-perspective: 800px;
	--Hero-star-rotateY: -20deg;

	--animation-duration: 1s;
}

section .Container .Hero {
	width: 100%;
	height: calc(100vh - var(--Header-hight));
	border: 3px solid black;
	display: flex;
}

section .Container .Hero .Hero-Text {
	z-index: 1;
}

section .Container .Hero .Hero-Star {
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: var(--Hero-star-perspective);
	z-index: 2;
}
section .Container .Hero .Hero-Star .swebsit {
	width: 80%;
	height: 50%;
	background-color: blue;
	transform: rotateY(var(--Hero-star-rotateY)) translate(0, -150%);
	box-shadow: 20px 19px 20px black;
}
